@{
	Layout = null;

}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="~/css/index.css">
	<title>Электронная библиотека</title>
</head>
<body>
	<div class="navbar">
		<a href="@Url.Action("Index", "Home")">Главная</a>
		<a href="@Url.Action("Books", "Home")">Все книги</a>
		<a><input class="search" type="search"></a>
		<a href="@Url.Action("LogInForm", "Home")">Войти</a>
		<a href="@Url.Action("Registration", "Home")">Регистрация</a>

	</div>
	<h1>Электронная библиотека</h1>
	<div class="image">
		<img class="foto" src="~/jpg/my.jpg">
		<img class="foto" src="~/jpg/download.jpg">
	</div>
	<p class="text1">Приветствуем Вас на сайте электронной библиотеки.</p>
	<p class="text1">
		На нашем сайте представлены книги для бесплатного скачивания в 5 электронных форматах: doc, rtf, fb2, html, txt.
		Для удобства пользования библиотекой, имеется "читальный зал", Вы можете читать книги прямо на сайте, не загружая к себе на компьютер. Читалка позволяет настроить формат книги "под себя" - выбрать тип, размер, цвет шрифта, цвет фона, длину строки.
		Функция закладки. Страницу, на которой Вы прерываете чтение, можете сохранить и при следующем посещении сайта продолжить чтение, не теряя времени на её поиск. Все сохраненные книги будут отображаться в блоке "Ваши закладки", который появится в левой части сайта.
	</p>
	<p class="text1">
		Для поиска интересующей литературы рекомендуем пользоваться поисковиком по сайту, расположенным в верхней левой части страницы. Это самый простой и эффективный способ найти искомое: книгу, автора, серию книг. Если же интересуют книги определенного жанра, посетите эту страницу.
	</p>
	<p class="text1">
		Если Вы точно не уверены что хотите почитать, воспользуйтесь навигацией по первой букве фамилии автора, названия книги, серии книг, расположенной в верхней части каждой страницы сайта, либо посмотрите отзывы о книгах, опубликованные читателями библиотеки, возможно, вы найдете для себя что-то интересное.
	</p>
	<br>
	<div class="ch2">
		<img class="foto1" src="jpg\download1.jpg">
		<p class="text2">
			Кто желает углубить смысл Основы, Пути и Плода Дзогчена, должен изучать тантры и лунги трех разделов. В случае, когда это недоступно, можно читать «7 сокровищ» (mDzod bdun), произведение Лонгченпы, которое содержит основополагающий смысл учений Дзогчена, или же мою книгу, которая называется «Суть изначального состояния»
		</p>
	</div>
	<br>
	<br>
	<div>
		<a class="Books" href="@Url.Action("Books", "Home")">смотреть книги</a>
		<p class="Books">Рады Вам</p>
	</div>
</body>
</html>
